:root{
    --gray:#676a6f;
}
/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: helvetica,arial,sans-serif;
}
.float-l{
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fffont{
    color: #fff;
}

.subtitle{
    color: var(--gray);
}

.suggestion::after{
    content: "Più ascolti, più accurati saranno suggerimenti.";
    color: var(--gray);
}

/* regolr di hover */

#sidebar a:hover, #sidebar .user-tools a:hover, #sidebar .crea-playlist a:hover, 
#lists nav li:hover a, #sidebar .crea-playlist button:hover + a, #album .fa-regular:hover{
    color: #fff;
}

#album .subtitle a:hover{
    color: #fff;
    text-decoration: underline;
}

#sidebar .crea-playlist button:hover{
    background-color: #fff;
}

#lists .calltoact span:hover a{
    font-size: 1rem;
}

#lists .calltoact span:hover{
    padding: 0.8rem 2.5rem; 
    top: calc(45px - 1.4rem - 2px);
}

.pl-image img:hover{
    filter: brightness(0.5);
}

#lists .pl-image img:hover + .fa-play{
    display: inline-block;
    color: #fff;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 24px;
    border: solid 2px #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
}

#lists .pl-image .fa-play:hover{
    display: inline-block;
    color: #fff;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 24px;
    border: solid 2px #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
    z-index: 999;
}

footer #player .fa-play:hover{
    width: 30px;
    height: 30px;
    padding-top: 1px;
}

#player .total:hover  .fa-circle{
    display: inline-block;
    position: absolute;
    color: #adadad;
    right: -4px;
    top: -4px;
}

#player .total:hover .partial{
    border-color: #1eee4b;
}

#options .total:hover  .fa-circle{
    display: inline-block;
    position: absolute;
    color: #adadad;
    right: -4px;
    top: -4px;
}

#options .total:hover .partial{
    border-color: #1eee4b;
}
/**************************************** regole main */

main{
    height: calc(100% - 90px);
    display: flex;
}
/* regole sidebar */

#sidebar{
    width: 230px;
    color: var(--gray);
    background-color: black;
    padding: 1.5rem 1.5rem 00.3rem 1.5rem;
    display: flex;
    flex-direction: column;
} 

#sidebar a{
    text-decoration: none;
    color: var(--gray);
    font-size: 0.8rem;
    font-weight: bold;
}

#sidebar .container-side{
    margin-bottom: 1rem;
}

#sidebar .container-side>img{
    width: 60%;
    margin-bottom: 1.5rem;
}

#sidebar .container-side>*{
    margin-bottom: 0.8rem;
}

#sidebar div div img{
    width: 25px;
    margin-right: 0.5rem;
    vertical-align: middle;
}

#sidebar .container-side div a{
    vertical-align: middle;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--gray);
}

#sidebar h4{
    font-size: 0.7rem;
    font-weight: 900;
    color: #fff;
}

#sidebar .crea-playlist button{
    display: inline-block;
    color:black;
    font-weight: 900;
    background-color: var(--gray);
    padding: 0.3rem 0.5rem;
}

#sidebar .profile{
    margin-top: auto;
}

#sidebar .profile #install{
    border-bottom: solid 1px var(--gray);
    padding: 0.8rem;
    margin-bottom: 1rem;
}

#sidebar .profile #install span{
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
    color: #fff;
    font-size: 0.5rem;
    border: solid 1px #fff;
    border-radius: 1rem;
    vertical-align: middle;
}

#sidebar .profile #install span{
    vertical-align: middle;
}

#sidebar .profile #user{
    color: #fff;
}

#sidebar .profile #user span{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    overflow: hidden;
    border-radius: 4rem;
    vertical-align: middle;
}

#sidebar .profile #user p{
    display: inline-block;
    vertical-align: middle;
}
/* regole lists */

#lists{
    background-color: #141922;
    width: calc(100% - 230px);
    height: calc(100vh - 90px);
    overflow-y: scroll;
    padding: 1rem;
}

/* regole calltoact */

.calltoact{
    height: 90px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    left: 230px;
    background-color: rgba(0, 0, 0, 0.5);
}   

#lists .calltoact span{
    display: inline-block;
    border: solid 1px #fff;
    border-radius: 2rem;
    padding: 0.6rem 2.5rem;
    position: absolute;
    top: calc(45px - 1.2rem - 2px);
    right: 24px;
}

#lists .calltoact a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
}

/*  regole barra di navigazione */

#lists nav{
    margin-top:90px;
    margin-bottom: 3rem;
}

#lists nav ul{
    list-style: none;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#lists nav li{
    margin: 0 1rem;
}

#lists nav li a{
    text-decoration: none;
    color: var(--gray);
}

/* regole playlists */

.clearfix{
    margin-bottom: 3rem;
}
.playlist{
    padding: 0.5rem;
    width: calc(100% / 6);
    text-align: center; 
}

/* regole di pl-image */

.pl-image{
    position: relative;
}

.pl-image img{
   width: 100%;
   display: block;
}

#lists .fa-play{
    display: none;
}
/* regole footer */

footer{
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

/* regole sezione album */

#album{
    display:flex;
    margin: 22px 0rem 26px 0.5rem;
    align-items: center;
    align-content:unset;
}

#album .album-img{
    width: 42px;
    margin-right: 0.5rem;
}

#album .album-img img{
    width: 100%;
    font-weight: 900;
}

#album .album-name{
    margin-right: 2rem;
}

#album .album-name h2{
    font-size: 0.7rem;
}

#album .album-name p{
    font-size: 0.6rem;
    font-weight: 900;
}

.subtitle a{
    text-decoration: none;
    color: var(--gray);
}

#album .icons{
    color: var(--gray);
    font-weight: 900;
    font-size: 0.9rem;
}

#album .icons *{
    margin-right: 0.5rem;
}
/* regole sezione player */

#player{
    width: calc(100% / 3);
    text-align: center;
}

#player .controls{
    padding: 0.8rem 0rem;
}

footer #player .controls>i{
    margin: 0 0.8rem;
    vertical-align: middle;
    line-height: 34px;
}

.play-btn{
    display: inline-block;
    width: 30px;
    height: 30px;   
}
footer #player .fa-play{
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 24px;
    border: solid 2px #fff;
    border-radius: 50%;
    vertical-align: middle;
}

#player .timer span{
    font-size: 0.6rem;
}

footer .bar{
    display: inline-block;
    border-radius: 4px;
}

#player .total{
    position: relative;
    width: 78%;
    margin: 0 1.5rem;
    border: solid #5a5a5a 2px;
    
}

#player .partial{
    width: 30%;
    border: solid #adadad 2px;
    position: absolute;
    left: -2px;
    top: -2px;
    overflow: visible;
}

#player .partial .fa-circle{
    display: none;
}

/* regole sezione options */
#options{
    display: flex;
    color: #adadad;
    font-size: 0.7rem;
    align-items: center;
}

#options i{
    margin-left: 1rem;
}
#options .total{
    position: relative;
    width: 118px;
    height: 0;
    border: solid #5a5a5a 2px;
    margin: 0 0.5rem;
}

#options .partial{
    width: 30%;
    border: solid #adadad 2px;
    position: absolute;
    left: -2px;
    top: -2px;
    overflow: visible;
}

#options .partial .fa-circle{
    display: none;
}
/************************************* regole di debug */





